@model ViewModelTournamentWizard
@{
    Layout = "_LayoutTournamentWizard";
}
@using deuce

<!-- Page content -->
@{
  string clsValidate = Model.Validated ? "was-validated" : "";
}
<form id="page_form" class="col-lg-9 col-xl-8 needs-validation @clsValidate" asp-action="Save" method="post"
novalidate >
  <h1 class="h2 mb-n2 mb-lg-3">Tournament Details</h1>
  <!-- Type -->
  <div class="pt-3 mt-3">
    <h2 class="h6 pb-1 mb-2">Label *</h2>
    <div>
      <input asp-for="Tournament.Label" class="form-control mb-2" placeholder="Give it a name ?" value="@Model.Tournament.Label" required>
      <div class="invalid-feedback">Name exists. Choose another name.</div>
    </div>
    <h2 class="h6 pb-1 mb-2">Sport *</h2>
    <div class="nav nav-pills row row-cols-2 row-cols-sm-3 row-cols-md-5 gap-0 g-3">
      @foreach(Sport sport in Model.Sports)
      {
        string isSelected  =  sport.Id == Model.Tournament.Sport ? "checked": "" ;
        <div class="col">
          @if (isSelected == "checked")
          {
            <input type="radio" class="btn-check" id="@(sport.Key)" asp-for="Tournament.Sport" value="@sport.Id" checked>
          }
          else
          {
            <input type="radio" class="btn-check" id="@(sport.Key)" asp-for="Tournament.Sport" value="@sport.Id" >
          }
          <label class="nav-link flex-column w-100 align-items-center gap-2 rounded p-3" for="@sport.Key">
            <img src="@sport.Icon" style="weight: 32px; height: 32px;"/>
            @* <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"><path fill-rule="evenodd" d="M19.158 1.372c-2.105-1.01-4.539.526-4.539 2.859v1.338l-9.705 5.142h0A4.54 4.54 0 0 0 2.5 14.723v14.72H1.25a.75.75 0 1 0 0 1.5h1.998.003 5.428 6.681H28.75h2a.75.75 0 1 0 0-1.5H29.5V9.192a4.54 4.54 0 0 0-2.575-4.093l-7.767-3.727zM28 29.443V9.192a3.04 3.04 0 0 0-1.724-2.74l-7.767-3.727a1.67 1.67 0 0 0-2.39 1.507v1.771 23.44h5.19v-3.107a.75.75 0 1 1 1.5 0v3.107H28zM14.619 17.669v11.774h-5.19v-8.736a3.04 3.04 0 0 1 3.037-3.037h2.153zm0-10.402v8.902h-2.153a4.54 4.54 0 0 0-4.537 4.537v8.736H4v-14.72a3.04 3.04 0 0 1 1.616-2.686h0l9.003-4.77zm5.305 13.56a.75.75 0 0 1 .75-.75h2.771a.75.75 0 1 1 0 1.5h-2.771a.75.75 0 0 1-.75-.75zm.75-11.429a.75.75 0 1 0 0 1.5h2.771a.75.75 0 1 0 0-1.5h-2.771zm-.75 6.09a.75.75 0 0 1 .75-.75h2.771a.75.75 0 0 1 0 1.5h-2.771a.75.75 0 0 1-.75-.75z"/></svg> *@
            @sport.Label
          </label>
        </div>
      }
      
    </div>
  </div>
  <!-- Category -->
  <div class="pt-3 mt-3">
    <h2 class="h6 pb-1 mb-2">Tournament Format *</h2>
    <div class="nav nav-pills flex-wrap gap-3">
      @foreach(var tourType in Model.TournamentTypes)
      {
        string selectedTourType  = tourType.Id == Model.Tournament.Type ? "checked" : "";
        <div>
          @if (selectedTourType == "checked")
          {
            <input type="radio" class="btn-check" id="@tourType.Key" asp-for="Tournament.Type" value="@tourType.Id" checked>
          }
          else
          {
            <input type="radio" class="btn-check" id="@tourType.Key" asp-for="Tournament.Type" value="@tourType.Id" >
          }
          <label class="nav-link" for="@tourType.Key">@tourType.Label</label>
        </div>
      }
      
    </div>
  </div>
  <!-- Players involved -->
  <div class="pt-3 mt-3">
    <h2 class="h6 pb-1 mb-2">Who's playing *</h2>
    <div class="nav nav-pills row row-cols-2 row-cols-sm-3 row-cols-md-5 gap-0 g-3">

        <div class="col">
        @if (Model.Tournament.EntryType == (int)EntryType.Team)
        {
          <input type="radio" class="btn-check"  id="EntryTypeTeam" asp-for="Tournament.EntryType" value="1" checked>
        }
        else
        {
          <input type="radio" class="btn-check"  id="EntryTypeTeam" asp-for="Tournament.EntryType" value="1" >
        }
          <label class="nav-link flex-column w-100 align-items-center gap-2 rounded p-3" for="EntryTypeTeam">
            <img src="~/assets/img/teams.svg" style="weight: 32px; height: 32px;"/>
            Teams
          </label>
        </div>
        <div class="col">
            @if (Model.Tournament.EntryType == (int)EntryType.Individual)
            {
                <input type="radio" class="btn-check"  id="EntryTypePlayer" asp-for="Tournament.EntryType" value="2" checked>
            }
            else
            {
                <input type="radio" class="btn-check"  id="EntryTypeInd" asp-for="Tournament.EntryType" value="2">
            }
          <label class="nav-link flex-column w-100 align-items-center gap-2 rounded p-3" for="EntryTypeInd">
            <img src="~/assets/img/person.svg" style="weight: 32px; height: 32px;"/>
            Individual    
            </label>
        </div>
      
    </div>
  </div>
</form>
