@model ViewModelTournamentWizard
@using deuce

@{
    Layout="_LayoutTournamentWizard";
}

<style> 
 .zero-height { height: 0; overflow: hidden; }
</style>
   <!-- Page content -->
@{
  string attrValidation = Model.Validated ? "was-validated" : "";
}
<form id="page_form" class="col-lg-9 col-xl-8 needs-validation @attrValidation" asp-action="Save" method="post" novalidate>
    <!-- Property location inputs -->
      <h1 class="h2 pb-1 pb-lg-2">@Model.Title</h1>
      <div class="row row-cols-2 row-cols-sm-2 g-3 g-sm-4 pb-3 pb-sm-4 mb-xl-2">
        <div class="col">
          <label class="form-label" >Sets *</label>
          <select class="form-select form-select-lg" asp-for="Tournament.Details.Sets" asp-items="Model.SelectSets"  value="@Model.Tournament.Details.Sets" required>
          </select>
          <div class="invalid-feedback">How many sets played ?</div>
        </div>

        <div class="col">
          <label class="form-label" >Games per set *</label>
          <select class="form-select form-select-lg" asp-for="Tournament.Details.Games" asp-items="Model.SelectGamesPerSet"  onchange="showHideElement('Games','fixed_game_2','99')" value="@Model.Tournament.Details.Games" required>
          </select>
          <div class="invalid-feedback">How many games in a set ?</div>
        </div>
        <div class="col invisible zero-height">
        </div>
        <div class="col invisible zero-height" id="fixed_game_2">
          <label class="form-label">Specify number of games *</label>
          <input class="form-control form-control-lg" asp-for="CustomGames" placeholder="2" value="@Model.CustomGames" required/>
          <div class="invalid-feedback">Enter custom games per set (Numbers only) ?</div>
        </div>
        
      </div>
      
</form>

<script src="~/js/TournamentFormatPlayer.js"></script>