@page
@model SummaryPageModel
@{
  Layout = "_LayoutAccount";
}
@using deuce;
@using deuce.ext;
@using System.Reflection;

<!-- Page content -->
<div class="col-lg-9">
  <h1 class="h2 pb-2 pb-lg-3">@Model.Tournament?.Label</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        @{
          string htmlTour = (Model.Tournament is not null) ? await Model._displayToHTML.ExtractDisplayProperty(Model.Tournament) : "";
          string htmlTourDetails = (Model.TournamentDetail is not null) ? await Model._displayToHTML.ExtractDisplayProperty(Model.TournamentDetail) : "";

          //Show hide actions for this tournament
          //depending on it's state.
          string classStartVis = (Model.Tournament?.Status??TournamentStatus.New) == TournamentStatus.New
           && String.IsNullOrEmpty(Model.Error) ? "visible"  : "invisible";
          string classErrorVis = String.IsNullOrEmpty(Model.Error) ? "invisible"  : "visible";

          //Show hide scoring actions for this tournament
          //depending on it's state.
          string classScoringVis = (Model.Tournament?.Status??TournamentStatus.New) != TournamentStatus.New
           ? "visible"  : "invisible";


        }

        @Html.Raw(htmlTour)
        @Html.Raw(htmlTourDetails)

      </tbody>
    </table>

    <form class="needs-validation" novalidate id="page_form" action="~/Summary" method="POST">
      <input id="action" name="action" type="hidden" value="start" />
      <div class="alert alert-primary @classErrorVis mt-2" role="alert">@Model.Error</div>
    </form>
      <a class="btn btn-primary @classStartVis mt-2" onclick="submitWithAction('start')">Start</a>
      <a class="btn btn-primary mt-2" onclick="submitWithAction('edit')">Edit</a>
      <a class="btn btn-primary mt-2 @classScoringVis" onclick="submitWithAction('scores')">Scores</a>

  </div>

</div>

<script>
  function submitWithAction(action) {
    //Set the hidden input 
    const eAction = document.getElementById("action");
    eAction.setAttribute("value", action);
    //Submit form
    document.getElementById("page_form").submit();


  }
</script>
