@page
@model TournamentsPageModel
@{
    Layout = "_LayoutFinder";
}

@using deuce
@using deuce.ext


<!-- Navigation bar (Page header) -->
<header class="navbar navbar-expand-lg bg-body navbar-sticky sticky-top z-fixed px-0" data-sticky-element>
    <div class="container">

    <!-- Mobile offcanvas menu toggler (Hamburger) -->
    <button type="button" class="navbar-toggler me-3 me-lg-0" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar brand (Logo) -->
    <a class="navbar-brand py-1 py-md-2 py-xl-1 me-2 me-sm-n4 me-md-n5 me-lg-0" href="home-real-estate.html">
        <span class="d-none d-sm-flex flex-shrink-0 text-primary rtl-flip me-2">
        <img src="assets/img/logo8.png" style="height:auto 34px; width: 35px"/>
        @* <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34"><path d="M34.5 16.894v10.731c0 3.506-2.869 6.375-6.375 6.375H17.5h-.85C7.725 33.575.5 26.138.5 17c0-9.35 7.65-17 17-17s17 7.544 17 16.894z" fill="currentColor"/><g fill-rule="evenodd"><path d="M17.5 13.258c-3.101 0-5.655 2.554-5.655 5.655s2.554 5.655 5.655 5.655 5.655-2.554 5.655-5.655-2.554-5.655-5.655-5.655zm-9.433 5.655c0-5.187 4.246-9.433 9.433-9.433s9.433 4.246 9.433 9.433a9.36 9.36 0 0 1-1.569 5.192l2.397 2.397a1.89 1.89 0 0 1 0 2.671 1.89 1.89 0 0 1-2.671 0l-2.397-2.397a9.36 9.36 0 0 1-5.192 1.569c-5.187 0-9.433-4.246-9.433-9.433z" fill="#000" fill-opacity=".05"/><g fill="#fff"><path d="M17.394 10.153c-3.723 0-6.741 3.018-6.741 6.741s3.018 6.741 6.741 6.741 6.741-3.018 6.741-6.741-3.018-6.741-6.741-6.741zM7.347 16.894A10.05 10.05 0 0 1 17.394 6.847 10.05 10.05 0 0 1 27.44 16.894 10.05 10.05 0 0 1 17.394 26.94 10.05 10.05 0 0 1 7.347 16.894z"/><path d="M23.025 22.525c.645-.645 1.692-.645 2.337 0l3.188 3.188c.645.645.645 1.692 0 2.337s-1.692.645-2.337 0l-3.187-3.187c-.645-.646-.645-1.692 0-2.337z"/></g></g><path d="M23.662 14.663c2.112 0 3.825-1.713 3.825-3.825s-1.713-3.825-3.825-3.825-3.825 1.713-3.825 3.825 1.713 3.825 3.825 3.825z" fill="#fff"/><path fill-rule="evenodd" d="M23.663 8.429a2.41 2.41 0 0 0-2.408 2.408 2.41 2.41 0 0 0 2.408 2.408 2.41 2.41 0 0 0 2.408-2.408 2.41 2.41 0 0 0-2.408-2.408zm-5.242 2.408c0-2.895 2.347-5.242 5.242-5.242s5.242 2.347 5.242 5.242-2.347 5.242-5.242 5.242-5.242-2.347-5.242-5.242z" fill="currentColor"/></svg> *@
        </span>
        Deuce
    </a>

    <!-- Button group -->
    <div class="d-flex gap-sm-1">

        <!-- Theme switcher (light/dark/auto) -->
        <div class="dropdown">
        <button type="button" class="theme-switcher btn btn-icon btn-outline-secondary fs-lg border-0 animate-scale" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle theme (light)">
            <span class="theme-icon-active d-flex animate-target">
            <i class="fi-sun"></i>
            </span>
        </button>
        <ul class="dropdown-menu start-50 translate-middle-x" style="--fn-dropdown-min-width: 9rem; --fn-dropdown-spacer: .5rem">
            <li>
            <button type="button" class="dropdown-item active" data-bs-theme-value="light" aria-pressed="true">
                <span class="theme-icon d-flex fs-base me-2">
                <i class="fi-sun"></i>
                </span>
                <span class="theme-label">Light</span>
                <i class="item-active-indicator fi-check ms-auto"></i>
            </button>
            </li>
            <li>
            <button type="button" class="dropdown-item" data-bs-theme-value="dark" aria-pressed="false">
                <span class="theme-icon d-flex fs-base me-2">
                <i class="fi-moon"></i>
                </span>
                <span class="theme-label">Dark</span>
                <i class="item-active-indicator fi-check ms-auto"></i>
            </button>
            </li>
            <li>
            <button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="false">
                <span class="theme-icon d-flex fs-base me-2">
                <i class="fi-auto"></i>
                </span>
                <span class="theme-label">Auto</span>
                <i class="item-active-indicator fi-check ms-auto"></i>
            </button>
            </li>
        </ul>
        </div>

        <!-- Add property button  -->
        <a class="btn btn-primary animate-scale" href="~/TournamentDetail">
        <i class="fi-plus fs-lg animate-target ms-n2 me-1 me-sm-2"></i>
        Add<span class="d-none d-xl-inline ms-1">Event</span>
        </a>
    </div>
    </div>
</header>

<!-- Page content -->
<div class="container pt-4 pt-sm-5 pb-5 mb-xxl-3">
    <div class="row row-cols-2 pt-2 pt-sm-0 pt-lg-2 pb-2 pb-sm-3 pb-md-4 pb-lg-5">


        <!-- Sidebar navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
        <aside class="col-lg-3" style="margin-top: -105px">
        <div class="offcanvas-lg offcanvas-start sticky-lg-top pe-lg-3 pe-xl-4" id="accountSidebar">
            <div class="d-none d-lg-block" style="height: 105px"></div>
            <!-- Header -->
            <div class="offcanvas-header d-lg-block py-3 p-lg-0">
            <div class="d-flex flex-row flex-lg-column align-items-center align-items-lg-start">
                <div class="flex-shrink-0 bg-body-secondary border rounded-circle overflow-hidden" style="width: 64px; height: 64px">
                <img src="" alt="Avatar">
                </div>
                <div class="pt-lg-3 ps-3 ps-lg-0">
                <h6 class="mb-1">Michael Williams</h6>
                <p class="fs-sm mb-0">m.williams@example.com</p>
                </div>
            </div>
            <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#accountSidebar" aria-label="Close"></button>
            </div>

            <!-- Body (Navigation) -->
            <div class="offcanvas-body d-block pt-2 pt-lg-4 pb-lg-0">
            <nav class="list-group list-group-borderless">
                <a class="list-group-item list-group-item-action d-flex align-items-center" href="~/OrgIdx">
                <i class="fi-user fs-base opacity-75 me-2"></i>
                My profile
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center active" aria-current="page" href="~/Events">
                <i class="fi-layers fs-base opacity-75 me-2"></i>
                Events
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center" aria-current="page" href="~/Scoring">
                <i class="fi-layers fs-base opacity-75 me-2"></i>
                Scores
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center" href="account-payment.html">
                <i class="fi-credit-card fs-base opacity-75 me-2"></i>
                Payment details
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center" href="account-settings.html">
                <i class="fi-settings fs-base opacity-75 me-2"></i>
                Account settings
                </a>
                <a class="list-group-item list-group-item-action d-flex align-items-center" href="help-topics-v1.html">
                <i class="fi-help-circle fs-base opacity-75 me-2"></i>
                Help center
                </a>
            </nav>
            <nav class="list-group list-group-borderless pt-3">
                <a class="list-group-item list-group-item-action d-flex align-items-center" href="account-signin.html">
                <i class="fi-log-out fs-base opacity-75 me-2"></i>
                Sign out
                </a>
            </nav>
            </div>
        </div>
        </aside>

        <!-- Events go here-->
        <form class="col-lg-7" asp-action="~/Events" method="post" id="page_form">
            <table  class="table">
                <thead>
                    <th>Label</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Interval</th>
                    <th>Type</th>
                    <th></th>
                <thead>
                    <tbody>
                        @foreach(Tournament iterTour in Model.Tournaments??new List<Tournament>())
                        {
                            <tr>
                                <td>@iterTour.Label</td>
                                <td>@iterTour.Start.ToString("dd/MM/yyyy")</td>
                                <td>@iterTour.End.ToString("dd/MM/yyyy")</td>
                                <td>@iterTour.Interval</td>
                                <td>@iterTour.Type</td>
                                <td><a class="btn" onclick="func(@iterTour.Id)">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>

            </table>
            <input id="TournamentId" name="TournamentId" type="hidden"/>
        </form>
        
    </div>
</div>


<!-- Page footer -->
<footer class="footer bg-body border-top pt-5" data-bs-theme="light">
</footer>


<!-- Sidebar navigation offcanvas toggle that is visible on screens < 992px wide (lg breakpoint) -->
<button type="button" class="fixed-bottom z-sticky w-100 btn btn-lg btn-dark border-0 border-top border-light border-opacity-10 rounded-0 pb-4 d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#accountSidebar" aria-controls="accountSidebar" data-bs-theme="light">
    <i class="fi-sidebar fs-base me-2"></i>
    Account menu
</button>


<!-- Back to top button -->
<div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
    <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
    Top
    <i class="fi-arrow-right fs-base ms-1 me-n1 animate-target"></i>
    <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
    <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
    </svg>
    </a>
</div>


<!-- Bootstrap + Theme scripts -->
<script src="assets/js/theme.min.js"></script>
<script>
    function func(tournamentId)
    {
        document.getElementById("TournamentId").setAttribute("value", tournamentId);
        document.getElementById("page_form").submit();
    }
</script>