@page
@model TournamentsPageModel
@{
    Layout = "_LayoutAccount";
}

@using deuce
@using deuce.ext


<!-- Events go here-->
<form class="col-lg-7" asp-action="~/Events" method="post" id="page_form">
    <table  class="table">
        <thead>
            <th>Label</th>
            <th>Start</th>
            <th>End</th>
            <th>Interval</th>
            <th>Type</th>
            <th></th>
        <thead>
            <tbody>
                @foreach(Tournament iterTour in Model.Tournaments??new List<Tournament>())
                {
                    <tr>
                        <td>@iterTour.Label</td>
                        <td>@iterTour.Start.ToString("dd/MM/yyyy")</td>
                        <td>@iterTour.End.ToString("dd/MM/yyyy")</td>
                        <td>@iterTour.Interval</td>
                        <td>@iterTour.Type</td>
                        <td><a class="btn" onclick="func(@iterTour.Id)">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>

    </table>
    <input id="TournamentId" name="TournamentId" type="hidden"/>
</form>

<script>
    function func(tournamentId)
    {
        document.getElementById("TournamentId").setAttribute("value", tournamentId);
        document.getElementById("page_form").submit();
    }
</script>