@* 
 Players registered for the tournament are as listed.
 Display register in a table.
 To make a team, check players and then presss "Add Team".
 When a team is created, create an article container for the team.

*@

@page
@model TournamentPlayersPageModel
@{
  Layout = "_LayoutWizard";
}
@using deuce

<style>
  .zero_height {
    height: 0px;
  }
</style>

<!-- Account listings content -->
<div class="col-lg-9 col-xl-8">
  <h1 class="h2 pb-2 pb-lg-3">Players / Teams</h1>
  <div class="pb-2 pb-lg-3">Select players that are in a team using checkboxes , add then press "Add Team" . Repeat until all players are in a team</div>
  <!-- Nav pills -->
  <div class="nav overflow-x-auto mb-2">
    @* <ul class="nav nav-pills flex-nowrap gap-2 pb-2 mb-1" role="tablist">
      <li class="nav-item me-1" role="presentation">
        <button type="button" class="nav-link text-nowrap active" id="published-tab" data-bs-toggle="pill" data-bs-target="#published" role="tab" aria-controls="published" aria-selected="true">
        </button>
    using iText.Forms.Xfdf;
    using Org.BouncyCastle.Asn1;
      </li>
    </ul> *@
  </div>

  <div class="tab-content">

    <!-- Published tab -->
    <div class="tab-pane fade show active" id="published" role="tabpanel" aria-labelledby="published-tab">

      <!-- Master checkbox + Action buttons -->
      <div class="nav align-items-center mb-4">

        <div class="d-flex flex-wrap" id="published-action-buttons">
          <a class="nav-link position-relative px-0 pe-sm-2 py-2 me-4" href="#!" onclick="addTeamPost()">
            <i class="fi-plus-square fs-base me-2"></i>
            <span class="hover-effect-underline stretched-link d-none d-md-inline">Add Team</span>
          </a>
          <a class="nav-link position-relative px-0 pe-sm-2 py-2 me-4" href="#!">
            <i class="fi-layers fs-base me-2"></i>
            <span class="hover-effect-underline stretched-link d-none d-md-inline">Import</span>
          </a>
          <a class="nav-link position-relative px-0 pe-sm-2 py-2 me-4" href="#!">
            <i class="fi-share fs-base me-2"></i>
            <span class="hover-effect-underline stretched-link d-none d-md-inline">Export</span>
          </a>
          <a class="nav-link position-relative text-danger px-0 py-2" href="#!" onclick="deleteTeams('page_form')">
            <i class="fi-trash fs-base me-1"></i>
            <span class="hover-effect-underline stretched-link d-none d-md-inline">Delete</span>
          </a>
        </div>
      </div>

      <!-- Published listings -->
      <form class="vstack gap-4 mb-4" id="page_form" asp-action="~/TournamentPlayers">
        <input name="action" id="action" type="hidden" />
        <table id="players_table" class="table">
          <thead>
            <tr >
              <th scope="col" class="text-center"></th>
              <th scope="col" class="text-center">Player</th>
              <th scope="col" class="text-center">Rank</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var player in Model.Players ?? new())
            {
              //hide invisible players
              if (player.Team is not null) continue;

              string playerAttrName = $"player_{player?.Id}_{player?.First}_{player?.Last}_{player?.Middle}";
              <tr>
                <td class="text-center"><input type="checkbox" class="form-check-input" name="@playerAttrName"></td>
                <td class="text-center">@player?.ToString()</td>
                <td class="text-center">@player?.Ranking</td>
              </tr>
            }
          </tbody>
        </table>
        <!-- An Item  -->
        @for (int i = 0; i < Model.Teams?.Count; i++)
        {
          Team? iterTeam = Model.Teams[i];
          int teamId = iterTeam?.Id ?? 0;
          //Pathing
          string attrTeamName = $"team_{iterTeam?.Index ?? i}_{teamId}";
          string attrTeamLable = iterTeam?.Label ?? "";
          string attrTeamCtlVisible = Model.EntryType == (int)EntryType.Team ? "visible" : "invisible zero_height";
          @* string attrCanDeletePlayer = "invisible"; *@

          <div class="d-sm-flex align-items-center">
            <div class="d-inline-flex position-relative z-2 pt-1 pb-2 ps-2 p-sm-0 ms-2 ms-sm-0 me-sm-2">
              <div class="form-check position-relative z-1 fs-lg m-0">
                <input type="checkbox" class="form-check-input">
              </div>
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-body border rounded d-sm-none"></span>
            </div>
            <article class="card w-100 p-2">
              <div class="d-sm-none" style="margin-top: -44px"></div>
              <div class="row row-cols-2 row-cols-*-2 g-0 @attrTeamCtlVisible">
                <div class="col-3">
                  <label for="@attrTeamName" class="form-label p-2">@(i + 1).Team Name:</label>
                </div>
                <div class="col-6">
                  <input id="@attrTeamName" class="form-control p-2 " name="@attrTeamName" value="@attrTeamLable" />
                </div>

              </div>
    
              @for (int j = 0; j < iterTeam?.Players.Count(); j++)
              {
                
                int teamPlayerId = iterTeam?.Players.ElementAt(j)?.TeamPlayerId ?? 0;
                int playerId = iterTeam?.Players.ElementAt(j)?.Id ?? 0;

                //Look up player info
                Player? player = Model.Players?.FirstOrDefault(e => e.Id == playerId);


                //Add form values for this player
                string attrPlayerName = $"team_{i}_{teamId}_player_{j}_{playerId}_{teamPlayerId}";
                //Get member's list
                int selectionIdx = i * Model.TeamSize + j;
                //List<SelectListItem>? memberList = Model.SelectMember?.ElementAt(selectionIdx);
               // memberList?.All(e => { e.Selected = false; return true; });

               // var selectedMember = memberList?.Find(e => e.Value == iterPlayer?.Member?.Id.ToString());

               // if (selectedMember is not null)
               //   selectedMember.Selected = true;
               // else if (memberList is not null && memberList.Count > 0) memberList[0].Selected = true;

                string playerLabel = $"Player {j + 1}";
                <div class="row row-cols-*-2 g-0 mb-2">
                  <div class="col-2 me-2"><span>@playerLabel</span></div>
                  <div class="col-6 me-2">
                    
                    @* <select id="@attrPlayerName" name="@attrPlayerName" class="form-select-lg" aria-label="Select Player"
                      asp-items="@memberList"
                      data-select='{"searchEnabled" : true , "classNames": {"containerInner": ["form-select", "form-select-lg"]}}'> 

                    </select>
                    *@
                    
                    <input readonly id="@attrPlayerName" name="@attrPlayerName" value="@player?.ToString()"/> 
                  </div>
                
                </div>
              }
            </article>
          </div>
        }

      </form>
      @{
        string clsShowHideError = String.IsNullOrEmpty(Model.Error) ? "invisible" : "visible";
      }
      <div class="alert alert-primary @clsShowHideError" role="alert">@Model.Error</div>
    </div>

  </div>
</div>
<script src="~/js/players.js"></script>
