@model ViewModelTournamentWizard

<!DOCTYPE html>
<html lang="en">

<head data-bs-theme="light" data-pwa="true">
    <meta charset="utf-8" />
    <!-- Viewport -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <!-- SEO Meta Tags -->
    <title>Deuce | Account - Sign In</title>
    <meta name="description" content="Deuce, tournament organizer">
    <meta name="keywords"
        content="Deuce, tournament organizer, tennis, mma, martial arts, competition, creator,verses,ranking">
    <meta name="author" content="Tong Pine">
    <!-- Webmanifest + Favicon / App icons -->
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="~/assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="~/assets/js/theme-switcher.js"></script>
    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="~/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin="">

    <!-- Font icons -->
    <link rel="preload" href="~/assets/icons/finder-icons.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="~/assets/icons/finder-icons.min.css">

    <link rel="stylesheet" href="~/assets/vendor/choices.js/choices.min.css">
    <!-- Calendar -->
    <link rel="stylesheet" href="~/assets/vendor/flatpickr/flatpickr.min.css">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="~/assets/css/theme.min.css" as="style">
    <link href="~/assets/css/theme.rtl.min.css">
    <link rel="stylesheet" href="~/assets/css/theme.min.css" id="theme-styles">

</head>

<body>
    <div class="container">
        <!-- w-100 px-3 ps-lg-5 pe-lg-4 mx-auto -->
        <main role="main" class="content-wrapper ">
            <div class="container pt-3 pt-sm-4 pt-md-5 pb-5">
                <div class="row pt-lg-2 pt-xl-3 pb-1 pb-sm-2 pb-md-3 pb-lg-4 pb-xl-5">

                    <!-- Sidebar navigation -->
                    <aside class="col-lg-3 col-xl-3 mb-3" style="margin-top: -100px">
                        <div class="sticky-top overflow-y-auto" style="padding-top: 100px">
                            <ul class="nav flex-lg-column flex-nowrap gap-4 gap-lg-0 text-nowrap pb-2 pb-lg-0">
                                <!-- #nav item  -->
                                @foreach (NavItem navItem in Model.NavItems)
                                {

                                    string isDisabled = navItem.IsDisabled ? "disabled" : "active";
                                    string isSelected = navItem.IsSelected ? @"aria-current=""page""" : "";
                                    string backPage = !navItem.IsDisabled ? $"href={Model.BackPage}" : "";
                                    <li class="nat-item">

                                        @if (navItem.IsSelected)
                                        {

                                            <a class="nav-link d-inline-flex px-0 px-lg-3 pe-none aria-current=" page">
                                                <i class="fi-arrow-right-circle d-none d-lg-inline-flex fs-lg me-2"></i>
                                                <i class="fi-arrow-down-circle d-lg-none fs-lg me-2"></i>
                                                @navItem.Label
                                            </a>

                                        }
                                        else if (navItem.IsDisabled)
                                        {
                                            <a class="nav-link d-inline-flex px-0 px-lg-3 disabled">
                                                <i class="fi-circle fs-lg me-2"></i>
                                                @navItem.Label
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="nav-link d-inline-flex position-relative px-0 px-lg-3 active"
                                                href="@Model.BackPage">
                                                <i class="fi-check-circle fs-lg me-2"></i>
                                                <span class="hover-effect-underline stretched-link">@navItem.Label</span>
                                            </a>
                                        }
                                    </li>
                                }

                            </ul>
                        </div>
                    </aside>

                    @RenderBody()
                </div>
                <div>
        </main>
    </div>

    <!-- Prev / Next navigation (Footer) -->
    <footer class="sticky-bottom bg-body pb-3 mt-2">
        <div class="progress rounded-0" role="progressbar" aria-label="Tournament wizard" aria-valuenow="28.57"
            aria-valuemin="0" aria-valuemax="100" style="height: 4px">
            <div class="progress-bar bg-dark d-none-dark" style="width: 28.57%"></div>
            <div class="progress-bar bg-light d-none d-block-dark" style="width: 28.57%"></div>
        </div>
        <div class="container d-flex gap-3 pt-3">
            @{
                //Split the Model.BackPage into controller and action
                string[] backPageParts = Model.BackPage?.Split('/')??new string[0];
                string controller = backPageParts.Length > 0 ? backPageParts[0] : "";
                string action = backPageParts.Length > 1 ? backPageParts[1] : "";
            }
            <a class="btn btn-outline-dark animate-slide-start @Model.ShowBackButton" asp-controller="@controller" asp-action="@action">
                <i class="fi-arrow-left animate-target fs-base ms-n1 me-2"></i>
                Back
            </a>
            <a class="btn btn-dark animate-slide-end ms-auto" onclick="submitForm()">
                Next
                <i class="fi-arrow-right animate-target fs-base ms-2 me-n1"></i>
            </a>
        </div>
    </footer>

    <script src="~/assets/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/vendor/flatpickr/rangePlugin.js"></script>
    <script src="~/assets/vendor/choices.js/choices.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/theme.min.js"></script>
    <script>

        function submitForm() {
            document.getElementById("page_form").submit();
        }
    </script>

</body>

</html>